<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：作用是为了分类管理映射文件中的MappedStatement对象 -->
<mapper namespace="test">
	<!-- id：指定MappedStatement对象的唯一标识 -->
	<!-- 对象参数绑定：使用的是OGNL -->
	<select id="findUserById" parameterType="int" resultType="com.kkb.mybatis.po.User" >
		SELECT id FROM users WHERE id = #{id}
	</select>
	<select id="findUserListByName" parameterType="string" resultType="com.kkb.mybatis.po.User">
		SELECT * FROM users WHERE name LIKE '%${value}%'
	</select>
	<insert id="insertUser" parameterType="com.kkb.mybatis.po.User" useGeneratedKeys="true">
		INSERT INTO users (name,password,email,profilesId,banned,suspended) VALUES (#{name},#{password},#{email},#{profilesId},#{banned},#{suspended})
	</insert>
	<insert id="insertUserByVO" parameterType="com.kkb.mybatis.po.UserQueryVO" useGeneratedKeys="true">
		INSERT INTO users (name,password,email,profilesId,banned,suspended) VALUES (#{user.name},#{user.password},#{user.email},#{user.profilesId},#{user.banned},#{user.suspended})
	</insert>
	

	<resultMap type="com.kkb.mybatis.po.User" id="testResultMap">
		<id column="id_" property="id"/>
		<result  column="username_" property="name"/>
		<result  column="password_" property="password"/>
	</resultMap>
	<select id="testResultMap" parameterType="int" resultMap="testResultMap">
		SELECT id id_,name username_,password password_ FROM users WHERE id = #{id}
	</select>
	
	
	<resultMap type="com.kkb.mybatis.po.User" id="userAndOrderRstMap">
		<!-- 映射外层对象：user信息 -->
		<id column="id" property="id"/>
		<result  column="username" property="name"/>
		<result  column="email" property="email"/>
		<result  column="password" property="password"/>
		<!-- 映射嵌套对象：orders信息  （一对多） -->
		<!-- association的类型需要使用javaType来指定 -->
		<collection property="orders" ofType="com.kkb.mybatis.po.Orders">
			<!-- id主键映射 -->
			<id column="oid" property="id"/>
		
			<result  column="number" property="number"/>
			<result  column="note" property="note"/>
		</collection>
	</resultMap>
	<select id="findUserAndOrderRstMap" resultMap="userAndOrderRstMap">
		SELECT
			u.*, o.id oid,
			o.number,
			o.createtime,
			o.note
		FROM
			`users` u
		LEFT JOIN orders o ON u.id = o.id
	</select>
</mapper>